<h1>Job Listings</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Job Type</th>
        </tr>
    </thead>
    <tbody>
        <% @job_postings.each do |job_posting|%>
        <tr>
            <td><%= link_to job_posting.title, job_posting %></td>
            <td><%= job_posting.company %></td>
            <td><%= job_posting.job_type %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%=link_to "New Job", :controller=>"job_postings", :action=>"new" %>
